.App {
  text-align: center;
}

.bg-nav{
  background: #3C4B64;
}

a{
  color: white !important;
}

.sidebar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  font-size: 22px;
  color: #61DAFB;
  font-weight: 500;
  background-color: #3C4B64;
}
a{
  text-decoration: none!important;
}
.sidebar-ul{
  padding: 0 !important;
  text-align: left;
  list-style-type: none;
}
.sidebar-link{
  text-align: left!important;
  padding: 10px 15px ;
  cursor: pointer;
  background-color: #20232A;
}
.sidebar-link:hover, .sidebar-link:active,.sidebar-link:focus {
  background-color: #3a3f49;
}
.sidebar-sub-link{
  padding: 10px 35px ;
  cursor: pointer;
  background-color: #20232A;
}
.sidebar-sub-link:hover{
  background-color: #3a3f49;
}